@use '@/shared/styles/mixins' as m;
@use '@/shared/styles/variables/semanticColors.scss' as *;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  opacity: 0;
  transition: opacity 300ms ease-in-out;

  &.entered {
    opacity: 1;
  }

  &.exiting {
    opacity: 0;
  }

  &_bottom-sheet {
    align-items: flex-end;
    justify-content: center;
  }

  &_right-sidebar {
    align-items: flex-end;
    justify-content: center;

    @include m.respond-to('sm') {
      align-items: flex-start;
      justify-content: center;
    }

    @include m.respond-to('lg') {
      align-items: flex-start;
      justify-content: flex-end;
    }
  }

  &_left-sidebar {
    align-items: flex-end;
    justify-content: center;

    @include m.respond-to('sm') {
      align-items: flex-end;
      justify-content: flex-start;
    }
  }

  &_centered {
    align-items: flex-end;
    justify-content: center;

    @include m.respond-to('sm') {
      align-items: center;
      justify-content: center;
    }
  }
}

.swipeable {
  &.modal_right-sidebar,
  &.modal_left-sidebar {
    height: 100dvh;
    max-height: calc(100vh - 16px);
    max-height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom) - 16px);
  }
}

// Базовые стили
.modal {
  background-color: $bg-primary;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);

  overscroll-behavior: none;
  -webkit-overscroll-behavior: none;
  touch-action: none;
  padding: 0px 16px 16px;

  //Стили скроллбара
  * {
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.2);
      border-radius: 3px;
    }
  }

  //
  //
  @include m.respond-to('sm') {
    padding: 24px;
  }

  @include m.respond-to('x-lg') {
    padding: 32px;
  }

  // Нижняя модалка
  &_bottom-sheet {
    border-radius: 24px 24px 0 0;
    width: 100%;
    max-height: calc(100vh - 32px);
    position: relative;
    transform: translateY(100%);
    transition: transform 300ms ease-in-out;

    .overlay.entered & {
      transform: translateY(0);
    }

    .overlay.exiting & {
      transform: translateY(100%);
    }
  }

  // Правая модалка
  &_right-sidebar {
    border-radius: 16px 16px 0 0;
    width: 100%;
    height: 100dvh;
    max-height: calc(100vh - 16px);
    max-height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom) - 16px);
    position: relative;
    transform: translateY(100%);
    transition: transform 300ms ease-in-out;

    .overlay.entered & {
      transform: translateY(0);
    }

    .overlay.exiting & {
      transform: translateY(100%);
    }

    @include m.respond-to('sm') {
      border-radius: 24px;
      width: 100%;
      height: calc(100vh - 32px);
      margin: 16px 0 0 0;
      transform: translateY(100%);

      .overlay.entered & {
        transform: translateY(0);
      }

      .overlay.exiting & {
        transform: translateY(100%);
      }
    }

    @include m.respond-to('lg') {
      width: 536px;
      height: calc(100vh - 48px);
      margin: 24px;
      transform: translateX(100%);

      .overlay.entered & {
        transform: translateX(0);
      }

      .overlay.exiting & {
        transform: translateX(100%);
      }
    }

    @include m.respond-to('x-lg') {
      width: 536px;
    }
  }

  // Левая модалка
  &_left-sidebar {
    border-radius: 24px 24px 0 0;
    width: 100%;
    max-height: calc(100vh - 32px);
    position: relative;
    transform: translateY(100%);
    transition: transform 300ms ease-in-out;

    .overlay.entered & {
      transform: translateY(0);
    }

    .overlay.exiting & {
      transform: translateY(100%);
    }

    @include m.respond-to('sm') {
      border-radius: 24px;
      height: calc(100vh - 48px);
      max-height: none;
      margin-bottom: 24px;
      margin-left: 24px;
      transform: translateX(-100%);

      .overlay.entered & {
        transform: translateX(0);
      }

      .overlay.exiting & {
        transform: translateX(-100%);
      }
    }
  }

  // Центральная модалка
  &_centered {
    border-radius: 16px 16px 0 0;
    width: 100%;
    position: relative;
    transform: translateY(100%);
    transition: transform 300ms ease-in-out;

    .overlay.entered & {
      transform: translateY(0);
    }

    .overlay.exiting & {
      transform: translateY(100%);
    }

    @include m.respond-to('sm') {
      border-radius: 32px;
      width: auto;
      position: relative;
      transform: scale(0.95);
      opacity: 0;
      transition:
        transform 300ms ease-in-out,
        opacity 300ms ease-in-out;

      .overlay.entered & {
        transform: scale(1);
        opacity: 1;
      }

      .overlay.exiting & {
        transform: scale(0.95);
        opacity: 0;
      }
    }
  }
}

.dragHandle {
  display: flex;
  justify-content: center;

  padding: 12px 0 20px;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.dragHandleBar {
  width: 24px;
  height: 4px;
  background-color: $border-secondary;
  border-radius: 2px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  gap: 8px;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 4px;

  min-width: 0;
  flex: 1;
  overflow: hidden;

  scrollbar-width: thin;
  scrollbar-color: $bg-secondary transparent;
}

.modal,
.content {
  scrollbar-width: thin;
  scrollbar-color: $bg-secondary transparent;
}

.content {
  overflow-y: auto;
  flex: 1;
}
