@use 'src/shared/styles/mixins' as m;
@use 'src/shared/styles/variables/semanticColors.scss' as *;

.root {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  align-self: center;
  padding-right: 6px;

  @include m.respond-to('sm') {
    padding-righ: 8px;
  }
}

.stars {
  display: flex;
  align-items: center;
}

.star {
  width: 20px;
  height: 20px;
  display: block;
}
