.container {
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 8px;
  pointer-events: none;

  * {
    pointer-events: auto;
  }

  @media (max-width: 768px) {
    top: 16px;
    right: 16px;
    left: 16px;

    .toast {
      max-width: 100%;
    }
  }
}
