@use 'src/shared/styles/variables/semanticColors.scss' as *;

.toastWrapper {
  display: flex;
  min-width: 300px;
  max-width: 400px;
  opacity: 0;
  transform: translateY(-20px);
  position: relative;
  margin-bottom: 8px;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  &.hidden {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.color {
  width: 8px;
  border-radius: 4px 0 0 4px;
  flex-shrink: 0;

  &.success {
    background-color: $bg-success;
  }

  &.error {
    background-color: $bg-critical;
  }

  &.warning {
    background-color: $bg-caution;
  }

  &.info {
    background-color: $bg-progress;
  }

  &.default {
    background-color: $bg-primaryInverse;
  }
}

.toast {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 16px;
  background: $bg-primary;
  flex: 1;
  border-radius: 0 4px 4px 0;
  border: none;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 2px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  min-width: 0;
}
.texts {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.buttons {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
