// $xs-viewport: 480px;
// $sm-viewport: 768px; //mobile
// $md-viewport: 1024px;
// $lg-viewport: 1280px;
// $x-lg-viewport: 1440px;

$sm-viewport: 768px;
$lg-viewport: 1366px;
$x-lg-viewport: 1920px;

//8px padding
//768px 8px padding
//1366px 24px
//1920px 24px  1872px

$container-xs-width: 304px;
$container-sm-width: 736px;
$container-lg-width: 1318px;
$container-x-lg-width: 1872px;

// $container-xs-width: 480px;
// $container-sm-width: 752px;
// $container-md-width: 944px;
// $container-lg-width: 1136px;
// $container-x-lg-width: 1px;
