//White
$white-100: #ffffff;
$white-88: #ffffffe0;
$white-64: #ffffffa3;
$white-40: #ffffff66;
$white-14: #ffffff24;
$white-9: #ffffff17;
$white-6: #ffffff0f;

//Black
$black-100: #1d1d30;
$black-88: #1d1d30e0;
$black-60: #1d1d3099;
$black-36: #1d1d305c;
$black-12: #1d1d301f;
$black-8: #1d1d3014;
$black-4: #1d1d300a;

//Brand
$brand-800-100: #f93204;
$brand-700-100: #f9491b;
$brand-100: #f96032;
$brand-88: #f96032e0;
$brand-60: #f9603299;
$brand-36: #f960325c;
$brand-14: #f9603224;
$brand-10: #f960321a;
$brand-6: #f960320f;

//Red
$red-800-100: #e51717;
$red-700-100: #e52e2e;
$red-100: #e54545;
$red-88: #e54545e0;
$red-60: #e5454599;
$red-36: #e545455c;
$red-14: #e5454524;
$red-10: #e545451a;
$red-6: #e545450f;

//Blue
$blue-800-100: #1721e5;
$blue-700-100: #2e37e5;
$blue-100: #454de5;
$blue-88: #454de5e0;
$blue-60: #454de599;
$blue-36: #454de55c;
$blue-14: #454de524;
$blue-10: #454de51a;
$blue-6: #454de50f;

//Orange
$orange-800-100: #e08600;
$orange-700-100: #ec8e00;
$orange-100: #ff9900;
$orange-88: #ff9900e0;
$orange-60: #ff990099;
$orange-36: #ff99005c;
$orange-14: #ff99001f;
$orange-10: #ff99001a;
$orange-6: #ff99000f;

//Green
$green-800-100: #3d786c;
$green-700-100: #3d876c;
$green-100: #3d995c;
$green-88: #3d995ce0;
$green-60: #3d995c99;
$green-36: #3d995c5c;
$green-14: #3d995c24;
$green-10: #3d995c1a;
$green-6: #3d995c0f;
