@use 'src/shared/styles/variables/colors.scss' as *;
//Background colors
$bg-primary: $white-100;
$bg-primaryInverse: $black-100;
$bg-secondary: $black-4;
$bg-secondaryHover: $black-8;
$bg-secondaryActive: $black-12;
$bg-secondaryInverse: $black-60;
$bg-disabled: $black-8;
$bg-accent: $brand-100;
$bg-accentHover: $brand-700-100;
$bg-accentActive: $brand-800-100;
$bg-accentSubdued: $brand-6;
$bg-accentSubduedHover: $brand-10;
$bg-accentSubduedActive: $brand-14;
$bg-progress: $blue-100;
$bg-progressHover: $blue-700-100;
$bg-progressActive: $blue-800-100;
$bg-progressSubdued: $blue-6;
$bg-progressSubduedHover: $blue-10;
$bg-progressSubduedActive: $blue-14;
$bg-caution: $orange-100;
$bg-cautionHover: $orange-700-100;
$bg-cautionActive: $orange-800-100;
$bg-cautionSubdued: $orange-6;
$bg-cautionSubduedHover: $orange-10;
$bg-cautionSubduedActive: $orange-14;
$bg-critical: $red-100;
$bg-criticalHover: $red-700-100;
$bg-criticalActive: $red-800-100;
$bg-criticalSubdued: $red-6;
$bg-criticalSubduedHover: $red-10;
$bg-criticalSubduedActive: $red-14;
$bg-success: $green-100;
$bg-successHover: $green-700-100;
$bg-successActive: $green-800-100;
$bg-successSubdued: $green-6;
$bg-successSubduedHover: $green-10;
$bg-successSubduedActive: $green-14;

//Text colors
$text-primary: $black-100;
$text-secondary: $black-60;
$text-disabled: $black-36;
$text-accent: $brand-100;
$text-accentHover: $brand-700-100;
$text-accentActive: $brand-800-100;
$text-accentSubdued: $brand-6;
$text-accentSubduedHover: $brand-10;
$text-accentSubduedActive: $brand-14;
$text-progress: $blue-100;
$text-progressHover: $blue-700-100;
$text-progressActive: $blue-800-100;
$text-progressSubdued: $blue-6;
$text-progressSubduedHover: $blue-10;
$text-progressSubduedActive: $blue-14;
$text-critical: $red-100;
$text-criticalHover: $red-700-100;
$text-criticalActive: $red-800-100;
$text-caution: $orange-100;
$text-cautionHover: $orange-700-100;
$text-cautionActive: $orange-800-100;
$text-success: $green-100;
$text-successHover: $green-700-100;
$text-successActive: $green-800-100;
$text-white: $white-100;

//Icon colors
$icon-primary: $black-100;
$icon-secondary: $black-60;
$icon-disabled: $black-36;
$icon-accent: $brand-100;
$icon-accentHover: $brand-700-100;
$icon-accentActive: $brand-800-100;
$icon-accentSubdued: $brand-6;
$icon-accentSubduedHover: $brand-10;
$icon-accentSubduedActive: $brand-14;
$icon-progress: $blue-100;
$icon-progressHover: $blue-700-100;
$icon-progressActive: $blue-800-100;
$icon-progressSubdued: $blue-6;
$icon-progressSubduedHover: $blue-10;
$icon-progressSubduedActive: $blue-14;
$icon-critical: $red-100;
$icon-criticalHover: $red-700-100;
$icon-criticalActive: $red-800-100;
$icon-caution: $orange-100;
$icon-cautionHover: $orange-700-100;
$icon-cautionActive: $orange-800-100;
$icon-success: $green-100;
$icon-successHover: $green-700-100;
$icon-successActive: $green-800-100;
$icon-white: $white-100;

//Border colors
$border-primary: $black-12;
$border-secondary: $black-8;
$border-focus: $brand-36;
$border-accent: $brand-100;
$border-accentHover: $brand-700-100;
$border-accentActive: $brand-800-100;
$border-accentSubdued: $brand-6;
$border-progress: $blue-100;
$border-progressHover: $blue-700-100;
$border-progressActive: $blue-800-100;
$border-critical: $red-100;
$border-criticalHover: $red-700-100;
$border-criticalActive: $red-800-100;
$border-caution: $orange-100;
$border-cautionHover: $orange-700-100;
$border-cautionActive: $orange-800-100;
$border-success: $green-100;
$border-successHover: $green-700-100;
$border-successActive: $green-800-100;
$border-disabled: $black-8;
$border-inverse: $white-100;
