// Global styles for the component library

// Reset styles
@use './styles/reset.scss';

// Variables
@use './styles/variables/colors.scss' as *;
@use './styles/variables/semanticColors.scss' as *;
@use './styles/variables/font.scss' as *;
@use './styles/variables/breakpoints.scss' as *;

// Mixins
@use './styles/mixins.scss' as *;
