@use 'src/shared/styles/variables/semanticColors.scss' as *;
@use 'src/shared/styles/mixins' as m;

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-self: center;
  align-self: center;
}

.loader {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  animation: spin 1s ease-in-out infinite;

  &::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 3px solid $bg-accent;
    border-top-color: transparent;
  }

  &.large {
    width: 48px;
    height: 48px;
  }

  &.medium {
    width: 40px;
    height: 40px;
  }
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
